//mixin for the work page

mixin work(title, client, technology, description, challenges, solution, image1, image2)
      .work-left
        .title= title
        .work-left-text
          .client
            p
            |<b>Client</b>: #{client}
          .technology
            p
            |<b>Technology</b>: #{technology}
          .description
            p
            |<b>Description</b>:#[br]#{description}

          .challenges
            p
            |<b>Challenges</b>:#[br]#{challenges}

          .solution
            p
            |<b>Solution</b>:#[br]#{solution}
      .work-right
        img(src=image1)
        img(src=image2)
.work-portfolio
  .work-1-text.work-container
    +work('portfolio', 'Myself', 'Jade, Sass, jQuery', 'A responsive portfolio to showcase my current and future works.', 'Finding a way to make the portfolio visually appealing yet staying user friendly', 'After spending more hours than I would like to admit I created some neat 3D-elements as well as a horizontal-scroll. To make the site responsive I decided to try something new, I used Flexbox and instead of using pixels I used Viewport units!','./images/img1.jpg')
  .work-2-text.work-container
    +work('portfolio', 'me', 'sass,html', 'just seeing if this worksust seeing if this worksust seeing if this worksust seeing if this worksust seeing if this worksust seeing if this worksust seeing if this worksust seeing if this worksust seeing if this works', 'this work page was prettty hard to make', 'i made it work', './images/img1.jpg')
  .work-3-text.work-container
    +work('portfolio', 'me', 'sass,html', 'just seeing if this worksust seeing if this worksust seeing if this worksust seeing if this worksust seeing if this worksust seeing if this worksust seeing if this worksust seeing if this worksust seeing if this works', 'this work page was prettty hard to make', 'i made it work', './images/img1.jpg')
